@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: #f5f8ff;
  --box-bg: #fff;
  --input-bg: #f5f8ff;
  --txt-color: #2f2d2f;
  --txt-second-color: #ccc;
  --border-color: #4267b2;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
  font-family: sans-serif;

  padding: 0px;
  margin: 0px;
}
body {
  overflow-x: hidden;
  overflow-y: visible;
}
#Home {
  background-image: url("images/background.png");
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#Home h1 {
  color: white;
  position: absolute;
  font-size: 50px;
  z-index: 2;
  margin-top: 10px;
}
#Home p {
  color: white;
  position: absolute;
  text-align: center;
  font-size: 12px;
  z-index: 2;
  margin-top: 100px;
}

#Home img {
  position: absolute;
  bottom: 0px;
}
#Mountain1 {
  position: absolute;
  margin-bottom: 106px;
  margin-left: 60px;
  width: 100%;
  pointer-events: none;
}
#Mountain2 {
  width: 100%;
  z-index: 3;
  pointer-events: none;
}
#leftCloud,
#mainCloud,
#rightCloud {
  top: 120px;
  width: 200px;
}
#leftCloud {
  left: 20px;
}
#rightCloud {
  right: 20px;
}
@keyframes loadAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
#uppdf {
  background-image: linear-gradient(
    to bottom,
    #120425,
    #321442,
    #5d195a,
    #8e166a,
    #c20772
  );
  padding: 0px 100px;
  min-height: 100vh;
  font-size: 20px;
}
#uppdf h1 {
  padding-top: 50px;
  font-size: 40px;
}
#uppdf p {
  padding: 30px 0px;
}

#hand1 {
  position: absolute;
  z-index: 1000;
  height: auto;
  width: 905px;
  margin-left: -500px;
}

#hand2 {
  position: absolute;
  z-index: 1000;
  height: auto;
  width: 905px;
}

.dropfiles {
  margin-left: 700px;
  font-family: "Montserrat", sans-serif;

  color: var(--txt-color);
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;

  padding-top: 50px;
  box-sizing: border-box;
}

.box {
  background-color: var(--box-bg);
  padding: 30px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  display: flex;
  margin-top: -100px;
}

#Summarize {
  background-image: linear-gradient(
    to bottom,
    #c20772,
    #8e166a,
    #5d195a,
    #321442,
    #120425
  );
  padding: 0px 100px;
  min-height: 100vh;
  font-size: 20px;
}
#Summarize h1 {
  padding-top: 50px;
  font-size: 40px;
}
#Summarize p {
  padding: 30px 0px;
}

.active {
  color: rgb(27, 209, 255);
}
.active::before {
  background-color: rgb(207, 0, 152);
  width: 100%;
}
.h1name {
  opacity: 0;
  animation: fadeInAnimation 2.2s ease-in-out forwards;
}
.h1name.fade-in {
  opacity: 1;
}

